$hld-color-primary: #5b61fd;

.hld-orders {
  font-family: Helvetica, sans-serif;
  color: #333;

  .card {
    border-radius: 10px;
    border: none;
  }

  .icon-wrap {
    svg {
      fill: $hld-color-primary;
    }
  }

  .desc-wrap {
    h5 {
      margin-bottom: 5px;
      color: #5b61fd !important;
    }
  }
  .hld_color_primary {
    color: var($hld-color-primary);
  }
  .hdl_tab_heading {
    text-align: left;
    margin-top: 10px;
    padding: 0;
    line-height: 0;
    margin: 0 !important;
    margin-bottom: 0px;
    text-align: left;
    margin-bottom: 0px !important;
  }
  .hld_btn_view_detail {
    padding: 5px 20px;
  }
  .hld_btn_view_detail_wrap {
    display: flex;
    align-items: center;
    justify-content: end;
  }
  button.btn {
    font-size: 15px;
    padding: 7px 15px;
    border-radius: 5px;

    &.btn-outline-primary {
      color: $hld-color-primary;
      border-color: $hld-color-primary;

      &:hover {
        background-color: darken($hld-color-primary, 10%);
        color: #fff;
        box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
      }
    }

    &.btn-primary {
      background-color: $hld-color-primary;
      border-color: $hld-color-primary;

      &:hover {
        background-color: darken($hld-color-primary, 10%);
        color: #fff;
        box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
      }
    }
  }

  .hld-order-item {
    .row {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
    }

    .btn-group-wrapper {
      display: flex;
      gap: 10px;

      // desktop: side by side
      flex-direction: row;
      justify-content: flex-end;

      button {
        width: auto;
        flex: 1;
      }
    }
  }

  @media (max-width: 768px) {
    .hld-order-item {
      padding: 1.5rem 1.5rem !important;

      .row {
        flex-direction: column !important;
        gap: 1rem;
      }

      .col-md-9 {
        flex-direction: row !important;
        display: flex !important;
        justify-content: flex-start !important;
        align-items: center !important;
        gap: 1rem;
      }

      .icon-wrap {
        flex-shrink: 0;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .desc-wrap {
        flex-grow: 1;

        h5 {
          margin-bottom: 0.4rem;
        }
      }

      .btn-group-wrapper {
        width: 100%;
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-between !important;
        align-items: center !important;
        gap: 10px;

        button {
          width: 48%;
        }
      }
    }
  }
}
